.rewrite-button {
    position: absolute; 
    z-index: 1000;
    background: linear-gradient(45deg, #ff6ed3, #7873f5);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}


.popover-submit-button {
    padding: 10px;
    background: linear-gradient(45deg, #ff6ed3, #7873f5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 8px; /* Space between text and spinner */
}


.popover-submit-button.loading {
    background: #CDC0D6; /* Lighter color for loading state */
    color: #666; /* Optional: Change text color for readability */
    cursor: not-allowed; /* Indicate that the button is not clickable */
    pointer-events: none; /* Prevent further clicks */
}

.popover-submit-button .spinner {
    border: 2px solid #f3f3f3; /* Light background */
    border-radius: 50%;
    border-top: 2px solid #B771E6; /* Blue color for the spinner */
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.popover {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popover-content {
    display: flex;
    flex-direction: column;
}

.popover-select,
.popover-textfield {
    display: block;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 14px;
}

.popover-textfield {
    resize: vertical;
    overflow: auto;
    max-height: calc(2 * 1.5em + 20px);
    line-height: 1.5em;
    padding: 5px;
}

.popover-select {
    padding: 5px;
}

.popover-submit-button {
    padding: 10px;
    background: linear-gradient(45deg, #ff6ed3, #7873f5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}